name: Deploy Todo App to EC2

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    # ---------- Build Frontend ----------
    - name: Install Node
      uses: actions/setup-node@v3
      with:
        node-version: "18"

    - name: Install frontend dependencies
      working-directory: ./todo-frontend
      run: npm install

    - name: Build frontend
      working-directory: ./todo-frontend
      run: npm run build

    # ---------- Upload to EC2 ----------
    - name: Upload project to EC2
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.EC2_IP }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "./"
        target: "/var/www/todo_app_main"

    # ---------- Deploy on EC2 ----------
    - name: Run Deployment Script
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_IP }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          sudo chmod +x /var/www/todo_app_main/deploy/deploy.sh
          sudo bash /var/www/todo_app_main/deploy/deploy.sh
          sudo systemctl restart nginx



    




