name: Deploy Todo App to EC2

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Upload Project to EC2
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.EC2_IP }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "./"
        target: "/home/ubuntu/todo_app_main"

    - name: Run Deployment Script on EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_IP }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          chmod +x /home/ubuntu/todo_app_main/deploy/deploy.sh
          bash /home/ubuntu/todo_app_main/deploy/deploy.sh



    




