name: Deploy Todo App to EC2

on:
  workflow_dispatch
  # push:
  #   branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Upload project to EC2
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.EC2_IP }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "./"
        target: "/var/www/todo_app-main"

    - name: Run Deployment Script
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_IP }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          sudo cp /var/www/todo_app-main/deploy/nginx.conf /etc/nginx/nginx.conf
          sudo chmod +x /var/www/todo_app-main/deploy/deploy.sh
          sudo bash /var/www/todo_app-main/deploy/deploy.sh



    




